не работает
// @mixin colorize($colors, $baseSelector) {
//   @each $color in colors {
//     $idx: index($colors, $color);

//     #{$baseSelector}:nth-child(#{$idx}) {
//       background-color: #{$color};
//     }
//   }
// }

body {
  background-color: #fff;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1140px) {
    width: 1140px;
  }
}
.section {
  padding-top: 24px;
  padding-bottom: 24px;
}
.title {
  margin-bottom: 24px;
}
.page-header {
  border-bottom: 2px solid red;
}
.page-header .nav {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 80px;
}
.features-set,
.reviews-set {
  outline: 1px solid black;
}
.features-set {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -5px;
  }
  @media screen and (min-width: 1140px) {
    display: flex;
    flex-wrap: wrap;
    margin: -10px;
  }
}

// features======================================
.f-1 {
  background-color: yellow;
}
.f-2 {
  background-color: tomato;
}
.f-3 {
  background-color: teal;
}
.f-4 {
  background-color: violet;
}
.f-5 {
  background-color: #4545d5;
}
.f-6 {
  background-color: #7e0080;
}
.features-item {
  text-align: center;
  padding: 20px 0;
  color: #fff;
  font-size: 32px;

  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 4 * 5px) / 2);
    margin: 5px;
  }
  @media screen and (min-width: 769px) and (max-width: 1139px) {
    border: 20px solid grey;
  }
  @media screen and (min-width: 1140px) {
    flex-basis: calc((100% - 6 * 10px) / 3);
    margin: 10px;
  }
}
// reviews=================================================
.reviews {
  @media screen and (max-width: 768px) {
    display: none;
  }
}
.reviews-set {
  display: flex;
}
.reviews-item {
  text-align: center;
  padding: 40px;
  color: #fff;
  font-size: 48px;

  flex-basis: calc(100% / 3);

  @media screen and (min-width: 1140px) {
    font-size: 64px;
  }
}
.r-a {
  background-color: aqua;
}

.r-b {
  background-color: chartreuse;
}

.r-c {
  background-color: darksalmon;
}
